<!-- Awards-->
<section class="resume-section" id="awards">
  <div class="resume-section-content">
    <h2 class="mb-5">Certifications</h2>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        Angular - Loiane Groner
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        Full JavaScript ES6 - Origamid.com
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        CSS Flexbox - Origamid.com
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        Git - Basic to advanced (2021) - Udemy
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        HTML and CSS for Beginners - Origamid.com
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        Full Web Design - Origamid.com
      </li>
    </ul>
  </div>
</section>
